/* small mobile */
/* fixed elements */
	/* name in nav */
	#name {
		position:  fixed;
		top:  24px;
		left:  24px;
		font-family: sans-serif;
		color: black;
		opacity: 85%;
		font-size: 1.25em;
		margin-block-start: 0em;
    	margin-block-end: 0em;
	}

	/* carousel in footer */
	#carousel {
		display:  none;
	}

/* grid elements */
	/* container for each of six sections */
	.grid  {
		display: grid;
		width: 100vw;
		height: 100vh;
		grid-template: repeat(20, 1fr) / repeat(20, 1fr);
	}

	/* main content */
		/* typography */
			/* large text sentences */
			.main-content {
				font-family: sans-serif;
				color: black;
				opacity: 85%;
				font-size: 1.5em;
				line-height: 1.3;
				margin:  0;
			}

			/* superscripts in main content */
			.main-content sup {
				font-family: monospace;
				color: black;
				opacity: 85%;
				font-size: .75em;
			}

		/* intro */
		#intro-main-content {
			grid-row-start:  6;
			grid-row-end:  15;
			grid-column-start: 3;
			align-self:  center;
			grid-column-end:  span 16;
		}

		/* specialization */
		#specialization-main-content {
			grid-row-start:  4;
			grid-row-end:  8;
			grid-column-start: 3;
			align-self:  start;
			grid-column-end:  span 16;
		}

		/* background */
		#background-main-content {
			grid-row-start:  4;
			grid-row-end:  18;
			grid-column-start: 3;
			align-self:  center;
			grid-column-end:  span 16;
		}

		/* interests */
		#interests-main-content {
			grid-row-start:  4;
			grid-row-end:  18;
			grid-column-start: 3;
			align-self:  center;
			grid-column-end:  span 16;
		}

		/* work */
		#work-main-content {
			grid-row-start:  8;
			grid-row-end:  21;
			grid-column-start: 3;
			align-self:  end;
			grid-column-end:  span 16;
			z-index: 1;
		}

			/* link in main content to trigger auxolar detail note */
			#auxolar {
				z-index:  3;
			}

			/* link in main content to trigger joy space detail note */
			#joy-space {
				z-index:  5;
			}

			/* link in main content to trigger anava projects detail note */
			#anava-projects {
				z-index:  7;
			}

		/* contact */
		#contact-main-content {
			grid-row-start:  4;
			grid-row-end:  18;
			grid-column-start: 3;
			align-self:  center;
			grid-column-end:  span 16;
		}

	/* footnote positioning */
		/* list style footnotes */
		.list-style-footnote {
			display: grid;
			grid-template-columns: 2;
			grid-template-rows: 1;
			grid-gap:  8px;
			grid-row-start:  12;
			grid-row-end: 20;
			grid-column-start: 3;
			grid-column-end:  span 16;
			align-self: start;
			justify-self: end;
		}

		.list-style-footnote-number {
			grid-column-start: 2;
			grid-column-end:  4;
			font-family: monospace;
			color: black;
			opacity: 85%;
			font-size: .75em;
		}

		.list-style-footnote-list {
			grid-column-start: 4;
			grid-column-end: 6;
			font-family: monospace;
			color: black;
			opacity: 85%;
			font-size: 1.2em;	
			line-height: 1.6em;
		}

		.footnote-list-item {
			margin:  8px 0px 8px 0px;
		}

		/* ux design footnote */
		#ux-design-footnote {
			/* display: none; */
		}

		/* footnote for brand creation list */
		#brand-creation-footnote {
			display: none;
		}

		/* footnote for print graphic design list */
		#print-graphic-design-footnote {
			display:  none;
		}

		/* footnote for digital graphic design list */
		#digital-graphic-design-footnote {
			display:  none;

		}

		/* image style footnotes */
		.image-style-footnote {
			/* display: grid;
			grid-template-columns: 1
			grid-template-rows: 2;
			grid-gap:  12px; */
			grid-row-start:  4;
			grid-row-end: 14;
			grid-column-start: 1;
			grid-column-end:  21;
			align-self: start;
			justify-self: end;
			margin:  0px 10px 0px 10px;
		}

		.image-style-footnote-caption {
			/* grid-row-start:  1;
			grid-row-end:  4; */
			font-family: monospace;
			color: black;
			opacity: 85%;
			font-size: 1.2em;	
			line-height: 1.6em;
			margin:  0px 0px 12px 0px;
		}

		.image-style-footnote-image {
			/* grid-row-start:  4;
			grid-row-end:  6; */
			display: block;
			max-width: 100%;
			height: auto;
		}

		/* footnote for auxolar */
		#auxolar-footnote {
			display: none;
			z-index:  2;
		}

		/* footnote for joy space */
		#joy-space-footnote {
			display:  none;
			z-index:  4;
		}

		/* footnote for anava projects */
		#anava-projects-footnote {
			/* display: none; */
			z-index:  6;
		}

/* standard mobile */
@media only screen and (min-width: 375px) {
/* fixed elements */
	/* name in nav */
	#name {
		position:  fixed;
		top:  24px;
		left:  24px;
		font-family: sans-serif;
		color: black;
		opacity: 85%;
		font-size: 1.25em;
		margin-block-start: 0em;
    	margin-block-end: 0em;
	}

	/* carousel in footer */
	#carousel {
		position:  fixed;
		bottom: 24px;
		right:  24px;
	}

	/* individual circles within carousel */
	.carousel-circle {
		height: 12px;
		width: 12px;
		border-radius: 50%;
		background-color: black;
		border-color: black;
		border: 1px;
		display: block;
		margin:  10px 0px 0px 4px;
	}

	/* carousel caption */
	.carousel-caption {
		font-family:  monospace;
		color:  black;
		opacity: 85%;
		font-size:  1.3em;
		writing-mode: vertical-lr;
		text-orientation: upright;
		margin:  0px 0px 20px 0px;
		text-align: right;
	}

	/*intro carousel caption */
	#intro-carousel-caption {

	}

	/*specialization carousel caption */
	#specialization-carousel-caption {
		display: none;
	}

	/*background carousel caption */
	#background-carousel-caption {
		display: none;
	}

	/*interests carousel caption */
	#interests-carousel-caption {
		display:  none;
	}

	/*work carousel caption */
	#work-carousel-caption {
		display:  none;
	}

	/*contact carousel caption */
	#contact-carousel-caption {
		display: none;
	}


/* grid elements */
	/* container for each of six sections */
	.grid  {
		display: grid;
		width: 100vw;
		height: 100vh;
		grid-template: repeat(20, 1fr) / repeat(20, 1fr);
	}

	/* main content */
		/* typography */
			/* large text sentences */
			.main-content {
				font-family: sans-serif;
				color: black;
				opacity: 85%;
				font-size: 1.875em;
				line-height: 1.3;
				margin:  0;
			}

			/* superscripts in main content */
			.main-content sup {
				font-family: monospace;
				color: black;
				opacity: 85%;
				font-size: .5em;
			}

		/* intro */
		#intro-main-content {
			grid-row-start:  6;
			grid-row-end:  14;
			grid-column-start: 3;
			align-self:  start;
			grid-column-end:  span 15;
		}

		/* specialization */
		#specialization-main-content {
			grid-row-start:  4;
			grid-row-end:  8;
			grid-column-start: 3;
			align-self:  start;
			grid-column-end:  span 15;
		}

		/* background */
		#background-main-content {
			grid-row-start:  4;
			grid-row-end:  14;
			grid-column-start: 3;
			align-self:  start;
			grid-column-end:  span 15;
		}

		/* interests */
		#interests-main-content {
			grid-row-start:  4;
			grid-row-end:  14;
			grid-column-start: 3;
			align-self:  start;
			grid-column-end:  span 15;
		}

		/* work */
		#work-main-content {
			grid-row-start:  8;
			grid-row-end:  21;
			grid-column-start: 3;
			align-self:  end;
			grid-column-end:  span 15;
			z-index: 1;
		}

			/* link in main content to trigger auxolar detail note */
			#auxolar {
				z-index:  3;
			}

			/* link in main content to trigger joy space detail note */
			#joy-space {
				z-index:  5;
			}

			/* link in main content to trigger anava projects detail note */
			#anava-projects {
				z-index:  7;
			}

		/* contact */
		#contact-main-content {
			grid-row-start:  5;
			grid-row-end:  14;
			grid-column-start: 3;
			align-self:  start;
			grid-column-end:  span 14;
		}

	/* footnote positioning */
		/* list style footnotes */
		.list-style-footnote {
			display: grid;
			grid-template-columns: 2;
			grid-template-rows: 1;
			grid-gap:  8px;
			grid-row-start:  11;
			grid-row-end: 21;
			grid-column-start: 3;
			grid-column-end:  span 15;
			align-self: start;
			justify-self: start;
		}

		.list-style-footnote-number {
			grid-column-start: 2;
			grid-column-end:  4;
			font-family: monospace;
			color: black;
			opacity: 85%;
			font-size: 1em;
		}

		.list-style-footnote-list {
			grid-column-start: 4;
			grid-column-end: 6;
			font-family: monospace;
			color: black;
			opacity: 85%;
			font-size: 1.3em;	
			line-height: 1.6em;
		}

		.footnote-list-item {
			margin:  8px;
		}

		/* ux design footnote */
		#ux-design-footnote {
			/* display: none; */
		}

		/* footnote for brand creation list */
		#brand-creation-footnote {
			display: none;
		}

		/* footnote for print graphic design list */
		#print-graphic-design-footnote {
			display:  none;
		}

		/* footnote for digital graphic design list */
		#digital-graphic-design-footnote {
			display:  none;

		}

		/* image style footnotes */
		.image-style-footnote {
			/* display: grid;
			grid-template-columns: 1
			grid-template-rows: 2;
			grid-gap:  12px; */
			grid-row-start:  4;
			grid-row-end: 14;
			grid-column-start: 1;
			grid-column-end:  21;
			align-self: start;
			justify-self: end;
			margin:  0px 10px 0px 10px;
		}

		.image-style-footnote-caption {
			/* grid-row-start:  1;
			grid-row-end:  4; */
			font-family: monospace;
			color: black;
			opacity: 85%;
			font-size: 1.3em;	
			line-height: 1.6em;
			margin:  0px 0px 12px 0px;
		}

		.image-style-footnote-image {
			/* grid-row-start:  4;
			grid-row-end:  6; */
			display: block;
			max-width: 100%;
			height: auto;
		}

		/* footnote for auxolar */
		#auxolar-footnote {
			display: none;
			z-index:  2;
		}

		/* footnote for joy space */
		#joy-space-footnote {
			display:  none;
			z-index:  4;
		}

		/* footnote for anava projects */
		#anava-projects-footnote {
			/* display: none; */
			z-index:  6;
		}
}

/* tablet to small desktop */
@media only screen and (min-width: 640px) {
/* fixed elements */
	/* name in nav */
	#name {
		position:  fixed;
		top:  30px;
		left:  30px;
		font-family: sans-serif;
		color: black;
		opacity: 85%;
		font-size: 1.875em;
		margin-block-start: 0em;
    	margin-block-end: 0em;
	}

	/* carousel in footer */
	#carousel {
		position:  fixed;
		bottom: 30px;
		right:  30px;
	}

	/* individual circles within carousel */
	.carousel-circle {
		height: 12px;
		width: 12px;
		border-radius: 50%;
		background-color: black;
		border-color: black;
		border: 1px;
		display: block;
		margin:  10px 0px 0px 4px;
	}

	/* carousel caption */
	.carousel-caption {
		font-family:  monospace;
		color:  black;
		opacity: 85%;
		font-size:  1.3em;
		writing-mode: vertical-lr;
		text-orientation: upright;
		margin:  0px 0px 20px 0px;
		text-align: right;
	}

	/*intro carousel caption */
	#intro-carousel-caption {

	}

	/*specialization carousel caption */
	#specialization-carousel-caption {
		display: none;
	}

	/*background carousel caption */
	#background-carousel-caption {
		display: none;
	}

	/*interests carousel caption */
	#interests-carousel-caption {
		display:  none;
	}

	/*work carousel caption */
	#work-carousel-caption {
		display:  none;
	}

	/*contact carousel caption */
	#contact-carousel-caption {
		display: none;
	}

/* grid elements */
	/* container for each of six sections */
	.grid  {
		display: grid;
		width: 100vw;
		height: 100vh;
		grid-template: repeat(10, 1fr) / repeat(10, 1fr);
	}

	/* main content */
		/* typography */
			/* large text sentences */
			.main-content {
				font-family: sans-serif;
				color: black;
				opacity: 85%;
				font-size: 2.25em;
				line-height: 1.3;
				margin:  0;
			}

			/* superscripts in main content */
			.main-content sup {
				font-family: monospace;
				color: black;
				opacity: 85%;
				font-size: .5em;
			}

		/* intro */
		#intro-main-content {
			grid-row-start:  4;
			grid-row-end:  8;
			grid-column-start: 2;
			align-self:  center;
			grid-column-end:  span 7;
		}

		/* specialization */
		#specialization-main-content {
			grid-row-start:  6;
			grid-row-end:  8;
			grid-column-start: 2;
			align-self:  end;
			grid-column-end:  span 7;
		}

		/* background */
		#background-main-content {
			grid-row-start:  4;
			grid-row-end:  8;
			grid-column-start: 2;
			align-self:  center;
			grid-column-end:  span 7;
		}

		/* interests */
		#interests-main-content {
			grid-row-start:  4;
			grid-row-end:  8;
			grid-column-start: 2;
			align-self:  center;
			grid-column-end:  span 7;
		}

		/* work */
		#work-main-content {
			grid-row-start:  6;
			grid-row-end:  9;
			grid-column-start: 2;
			align-self:  end;
			grid-column-end:  span 7;
			z-index: 1;
		}

			/* link in main content to trigger auxolar detail note */
			#auxolar {
				z-index:  3;
			}

			/* link in main content to trigger joy space detail note */
			#joy-space {
				z-index:  5;
			}

			/* link in main content to trigger anava projects detail note */
			#anava-projects {
				z-index:  7;
			}

		/* contact */
		#contact-main-content {
			grid-row-start:  4;
			grid-row-end:  8;
			grid-column-start: 2;
			align-self:  center;
			grid-column-end:  span 7;
		}

	/* footnote positioning */
		/* list style footnotes */
		.list-style-footnote {
			display: grid;
			grid-template-columns: 2;
			grid-template-rows: 1;
			grid-gap:  8px;
			grid-row-start:  2;
			grid-row-end: 5;
			grid-column-start: 7;
			grid-column-end:  10;
			align-self: start;
			justify-self: end;
		}

		.list-style-footnote-number {
			grid-column-start: 1;
			grid-column-end:  2;
			font-family: monospace;
			color: black;
			opacity: 85%;
			font-size: 1em;
		}

		.list-style-footnote-list {
			grid-column-start: 2;
			grid-column-end: 3;
			font-family: monospace;
			color: black;
			opacity: 85%;
			font-size: 1.3em;	
			line-height: 1.6em;
		}

		.footnote-list-item {
			margin:  8px;
		}

		/* ux design footnote */
		#ux-design-footnote {
			/* display: none; */
		}

		/* footnote for brand creation list */
		#brand-creation-footnote {
			display: none;
		}

		/* footnote for print graphic design list */
		#print-graphic-design-footnote {
			display:  none;
		}

		/* footnote for digital graphic design list */
		#digital-graphic-design-footnote {
			display:  none;

		}

		/* image style footnotes */
		.image-style-footnote {
			/* display: grid;
			grid-template-columns: 1
			grid-template-rows: 2;
			grid-gap:  12px; */
			grid-row-start:  2;
			grid-row-end: 7;
			grid-column-start: 5;
			grid-column-end:  10;
			align-self: start;
			justify-self: end;
		}

		.image-style-footnote-caption {
			/* grid-row-start:  1;
			grid-row-end:  2; */
			font-family: monospace;
			color: black;
			opacity: 85%;
			font-size: 1.3em;	
			line-height: 1.6em;
			margin:  0px 0px 12px 0px;
		}

		.image-style-footnote-image {
			/* grid-row-start:  2;
			grid-row-end:  3; */
			display: block;
			max-width: 100%;
			height: auto;
		}

		/* footnote for auxolar */
		#auxolar-footnote {
			display: none;
			z-index:  2;
		}

		/* footnote for joy space */
		#joy-space-footnote {
			display:  none;
			z-index:  4;
		}

		/* footnote for anava projects */
		#anava-projects-footnote {
			/* display: none; */
			z-index:  6;
		}
}
/* small desktop */
@media only screen and (min-width: 1024px) {

}

/* large desktop - do on monitor */