@font-face {
  font-family: "ABCWhyte";
  src: url("/fonts/ABCWhyte-Regular.woff2") format("woff2"),
       url("/fonts/ABCWhyte-Regular.woff") format("woff");
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0px;
}

#name {
	position:  fixed;
	margin-block-start: 0em;
	margin-block-end: 0em;
	font-family: ABCWhyte, sans-serif;
	color: black;
	font-size: 1.625rem;
	line-height: 1.1;
}

#content {
	position: fixed;
	margin-block-start: 0em;
	margin-block-end: 0em;
	font-family: ABCWhyte, sans-serif;
	color: black;
	line-height: 1.1;

}

/* links */
a {
	text-decoration: none;
	color: rgba(80, 255, 0, 1);
}

a:hover,
a:focus {
	text-decoration: underline;
	color: rgba(80, 255, 0, 1);
}

a:visited {
	color: rgba(80, 255, 0, 1);
}

/* small mobile styles */
@media only screen and (max-width: 375px) {
	#name {
		bottom:  16px;
		right:  16px;
	}

	#content {
		font-size: 1.625rem;
		top:  16px;
		left:  16px;
		right: 16px;
		width: auto;
	}
}

/* mobile styles */
@media only screen and (min-width: 375px) {
	#name {
		bottom:  16px;
		right:  16px;
	}

	#content {
		font-size: 1.625rem;
		top:  16px;
		left:  16px;
		width: 339px;
	}
}

/*small tablet styles */
@media only screen and (min-width: 560px) {
	#name {
		bottom:  32px;
		right:  32px;
	}

	#content {
		font-size: 1.625rem;
		top:  32px;
		left:  32px;
		width: 383px;
	}
}

/*tablet and desktop styles */
@media only screen and (min-width: 768px) {
	#name {
		bottom:  32px;
		right:  32px;
	}

	#content {
		font-size: 2.625rem;
		top:  32px;
		left:  32px;
		width: 591px;
	}
}

/* large desktop styles */
@media only screen and (min-width: 1440px) {
	#name {
		bottom:  32px;
		right:  32px;
	}

	#content {
		font-size: 3.4375rem;
		top:  32px;
		left:  32px;
		width: 774px;
	}
}
