@font-face {
  font-family: "ABCWhyte";
  src: url("fonts/ABCWhyte-Regular.woff2") format("woff2"),
       url("fonts/ABCWhyte-Regular.woff") format("woff");
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0px;
}

p {
  margin-block-start: 0em;
	margin-block-end: 0em;
}

#name {
	position:  fixed;
	margin-block-start: 0em;
	margin-block-end: 0em;
	font-family: ABCWhyte, sans-serif;
	color: black;
	font-size: 1.625rem;
	line-height: 1.1;
}

/* content styles */
#content {
	position: fixed;
	margin-block-start: 0em;
	margin-block-end: 0em;
	font-family: ABCWhyte, sans-serif;
	color: black;
	line-height: 1.1;
  height: 1.1rem;
}

span {
  margin-block-start: 0em;
	margin-block-end: 0em;
}

#specialization {
  display: none;
  opacity: 0;
}

#work {
  display: none;
  opacity: 0;
}

#contact {
  display: none;
  opacity: 0;
}

/* links */
a {
  color: black;
  text-decoration: none;
  background-image: linear-gradient(0deg, rgba(238,255,0,0.7) 0%, rgba(238,255,0,0.7) 100%);
  background-repeat: no-repeat;
  background-size: 100% .95em;
  background-position: 0 60%;
}

a:hover,
a:focus {
  background-image: linear-gradient(0deg, rgba(238,255,0,1) 0%, rgba(238,255,0,1) 100%);
}

a:visited {
  color: black;
}

/* indicators */
.indicators p {
  align-self: center;
  font-family: ABCWhyte, sans-serif;
  color:  black;
  font-size:  1em;
  text-align: right;
}

.indicators div {
  justify-self: center;
  align-self: center;
  height: .75rem;
  width: .75rem;
  background-color: black;
  border-color: black;
  border: 1px;
  margin:  0px 0px 0px 0px;
}

#sp-cap {
  opacity: 0;
}

#work-cap {
  opacity: 0;
}

#contact-cap {
  opacity: 0;
}

#sp-ind {
  opacity: 0.3;
}

#work-ind {
  opacity: 0.3;
}

#contact-ind {
  opacity: 0.3;
}

/* animation triggers */
.trigger-offset {
  height: 55vh;
}

.trigger {
  height: 20vh;
}

/* small mobile styles */
@media only screen and (max-width: 375px) {
	#name {
		bottom:  16px;
		left:  16px;
	}

	#content {
		font-size: 1.625rem;
		top:  16px;
		left:  16px;
		right: 16px;
		width: auto;
	}

  .indicators {
    display: none;
  }
}

/* mobile styles */
@media only screen and (min-width: 375px) {
	#name {
		bottom:  16px;
		left:  16px;
	}

	#content {
		font-size: 1.625rem;
		top:  16px;
		left:  16px;
		width: 339px;
	}

  .indicators {
    display: none;
  }
}

/*small tablet styles */
@media only screen and (min-width: 560px) {
	#name {
		bottom:  32px;
		left:  32px;
	}

	#content {
		font-size: 1.625rem;
		top:  32px;
		left:  32px;
		width: 383px;
	}

  .indicators {
    display: none;
  }
}

/*tablet and desktop styles */
@media only screen and (min-width: 768px) {
	#name {
		bottom:  32px;
		left:  32px;
	}

	#content {
		font-size: 2.625rem;
		top:  32px;
		left:  32px;
		width: 591px;
	}

  .indicators {
    display: grid;
    grid-template-columns: 6.4375rem 1rem;
    grid-template-rows: 1rem 1rem 1rem 1rem;
    grid-gap: 0.75rem .5rem;
    justify-content: center;
    align-content: center;
    position: fixed;
    bottom:  32px;
    right: 32px;
  }
}

/* large desktop styles */
@media only screen and (min-width: 1440px) {
	#name {
		bottom:  32px;
		left:  32px;
	}

	#content {
		font-size: 3.4375rem;
		top:  32px;
		left:  32px;
		width: 774px;
	}

  .indicators {
    display: grid;
    grid-template-columns: 6.4375rem 1rem;
    grid-template-rows: 1rem 1rem 1rem 1rem;
    grid-gap: 0.75rem .5rem;
    justify-content: center;
    align-content: center;
    position: fixed;
    bottom:  32px;
    right: 32px;
  }
}
